@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(
    149deg,
    #0c0315,
    #4b3c48,
    #1f1424,
    #0c0315,
    #0c0315,
    #12041d,
    #2f023c
  );
  font-family: 'Ubuntu', sans-serif;
  color:#ffff;
  height: 100vh;
  width: 100vw;
  display:flex;
  justify-content: center;
  align-items: center;
}